[submodule "extra/FFmpeg"]
	path = extra/FFmpeg
	url = https://github.com/ShikinChen/FFmpeg.git
	branch = ff5.1.4--ijk0.8.8
[submodule "extra/soundtouch"]
	path = extra/soundtouch
	url = https://github.com/ShikinChen/soundtouch.git
	branch = ijk-r0.1.2-dev
[submodule "extra/libyuv"]
	path = extra/libyuv
	url = https://github.com/ShikinChen/libyuv.git
	branch = ijk-r0.2.1-dev
