[submodule "ijkmedia/ijksoundtouch"]
	path = ijkmedia/ijksoundtouch
	url = https://github.com/ShikinChen/soundtouch.git
	branch = ijk-r0.1.2-dev
[submodule "ijkmedia/ijkyuv"]
	path = ijkmedia/ijkyuv
	url = https://github.com/ShikinChen/libyuv.git
	branch = ijk-r0.2.1-dev
[submodule "extra/ffmpeg"]
	path = extra/ffmpeg
	url = https://github.com/ShikinChen/FFmpeg
	branch = ff6.1.1--ijk0.8.8
